* {
    box-sizing: border-box;
}

body {
    background-color: #f5f4df;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;

}

.pad {
    padding: 100px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.push50 {
    padding: 50px;
}
